/* Reset */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #100E1D;
  color: #E7E7EB;
}

/* Botón de cambio de tema */
.theme-toggle-btn {
  position: relative;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.theme-toggle-btn:hover {
  background: rgba(200, 200, 200, 0.233);
  transform: scale(1.05);
}

.theme-toggle-btn:active {
  transform: scale(0.95);
}
